@import "mixins.sass"
  
#social
  +columnify
  color: beige
  a
    text-align: center
  ul
    display: flex
    align-items: center
    flex-flow: row wrap
    li
      padding: 1vh calc(.5vw + 4px)
      @media screen and (min-width: 800px)
        margin: calc(.3vw + 8px)
      @media screen and (max-width: 800px)
        margin: calc(.5vw + 5px)

    i
      color: inherit
      @media screen and (min-width: 800px)
        font-size: calc(.1vw + .1vh + 2.5em)
      @media screen and (max-width: 800px)
        font-size: calc(.2vw + .2vh + 2em)
      transition:
        duration: 1s
        timing-function: cubic-bezier(0.63, 0.05, 0.28, 0.94)

      &:hover
        transform: scale(1.5) rotate(360deg)

@keyframes fade-up
  0%
    transform: translateX(100%) skewX(-30deg) scale(1.5)
    opacity: 0
  50%
    transform: translateX(50%) skewX(-20deg) scale(1.2)
    opacity: 0.5
  100%
    transform: translateX(0) skewX(0) scale(1)
    opacity: 1
